body {
	font-family: 'PT Serif', 'Nato Serif SC', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
	font-size: 1.6rem;
	font-weight: bolder;
}

h2 {
	font-size: 1.3rem;
}

h3 {
	font-size: 1.15rem;
}

h4 {
	font-size: 1.1rem;
}

.profile img {
	display: block;
	width: 200px;
	height: 200px;
	margin: auto;
	padding: 20px;
	object-fit: cover;
	border-radius: 50%;
}

.bio {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.links a {
	padding-top: 0;
	padding-bottom: 0;
}

.links {
	margin-bottom: 10px;
}

footer {
	margin-top: auto;
	text-align: center;
	padding-top: 16px;
}