{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-11">
    <h2 class="my-5">{{ .Title }}</h2>
      {{ if eq (.GetPage "teaching").RelPermalink .RelPermalink }}
      {{/* Page is /content/teaching/_index.md */}}
      <ul>
        {{- range .Pages }}
          {{ $pages := .Pages.ByDate.Reverse }}
            <li>
            {{ range first 1 $pages }}
                <span class="fw-bolder">{{ .Title}}.</span> 
                <a href="{{ .Permalink }}">{{- .Params.semester }} {{ .Params.year }}</a>.
            {{ end }}

            

            
            {{ if gt ($pages | len) 1 }}
              <p class="mb-0"><small class="text-secondary">In the past: 
              {{ $count := len $pages }}
              {{ $index := 1 }}
              {{ range after 1 $pages }}
                {{- $index = add $index 1 -}}
                {{ .Params.semester }} {{ .Params.year -}}
                {{ if lt $index $count }}, {{ else }}.{{ end }}
              {{ end }}
              </small></p>
            {{ end }}
            </li>
        {{- end}}
      </ul>        
      {{ else }}
        {{ .Content }}
        <ul>
          {{/* Ranges through content/teaching/ * /index.md */}}
          {{ range .Pages }}
            <li>
              <a href="{{.Permalink}}">{{ .Params.semester }} {{ .Params.year }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
</div>
{{ end }}