<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{/* Robots */}}
<meta name="robots" content="noindex, nofollow">

{{/* Title */}}
<title>
    {{- if not .IsHome }}
        {{ if .Title }}{{ .Title }} | {{ end}}
    {{ end }} 
    {{ site.Title }}
</title>

{{/* Bootstrap */}}
<link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

{{/* JQuery */}}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->

{{/* Favicon */}}
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

{{/* KaTeX */}}
{{ partial "katex.html" . }}

{{/* CSS */}}
<link rel="stylesheet" type="text/css" href="/css/style.css">
